#header {
	padding: 0.5em 0;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #ddd;
	font-size: 115%;
	background: #f5f5f5 url('../img/heading.png') repeat-x bottom;
}
#header form {
	margin: 0;
}
#header #top-nav {
	float: right;
	vertical-align: middle;
}

#header .input-append {
	vertical-align: middle;
	float: left;
}

#logo {
	float: left;
}
#logo a {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-image: url('../img/logo-header.png');
	background-position: top right;
	width: 50px;
	height: 30px;
	text-decoration: none;
}
#logo a span {
	display: none;
}

#header input {
	vertical-align: middle;
	margin-left: 0.75em;
	display: block;
	float: left;
	width: 12em;
}
#header .btn {
	float: left;
	margin-right: 1em;
}

#header .sep {
	display: inline-block;
	width: 0;
	height: 24px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.7);
	margin: 0 0.75em;
	vertical-align: middle;
}
