.missing .undelete-msg {
	text-align: center;
	display: none;
}
.missing table {
	font-size: 90%;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	line-height: 1.6em;
}

.missing table tbody tr:first-child td {
	padding: 0.5em 0.5em;
	box-shadow: inset 0 1em 1em -1em #ddd;
	vertical-align: top;
}
.missing table thead tr th {
	padding: 0.5em 1em;
	background: whitesmoke;
	width: 50%;
}
/* multiple tbody are used for highlighting (more) link row along with proposition row */
.missing table tbody:hover tr td {
	background: #f5f5f5;
}

.missing table td ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.missing table td ul li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 20px;
	position: relative;
}

.missing .more {
	display: block;
	text-align: center;
	color: silver;
}
.missing i.left {
	margin-right: 4px;
}

.missing i.right {
	position: absolute;
	right: 4px;
}


.original img {
	width: 80px;
	margin-right: 0.5em;
	float: left;
}
.original .details-wrapper .header:after {
	margin: 0.1em 0;
	content: '';
	height: 1px;
	display: block;
	background: #e6e6e6 linear-gradient(to right, #e6e6e6, #fff) repeat-y;
}
.original .details-wrapper {
	float: left;
	width: 190px;
	line-height: 1.5em;
}
.original .details-wrapper div {
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
}
.original .details {
	font-size: 85%;
}

.original ul {
	margin: 0;
	padding: 0;
}
.original li {
	padding: 0;
	margin: 0 1em 1em 0;
	vertical-align: top;
	display: inline-block;
}
